/* Globalne style */
* {
   box-sizing: border-box; /* Uwzględnia padding i border w wysokości elementów */
   margin: 0; /* Resetowanie domyślnych marginesów */
   padding: 0; /* Resetowanie domyślnych paddingów */
}

body {
   font-family: "Arial", sans-serif; /* Ustalenie czcionki */
   background-color: #f4f4f4; /* Jasne tło */
   color: #222; /* Kolor tekstu */
}

/* Style dla aplikacji */
div.app {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   width: 90%;
   max-width: 1200px; /* Maksymalna szerokość dla większych ekranów */
   margin: 0 auto;
   background-color: #ffffff; /* Tło aplikacji */
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Delikatny cień */
   border-radius: 8px; /* Zaokrąglone rogi */
}

/* Styl główny */
main {
   display: flex;
   flex-grow: 1;
   padding: 30px 0;
   align-items: flex-start; /* Ustawienie elementów na początku kontenera w pionie */
   background-color: #ffffff; /* Białe tło głównego kontenera */
}

/* Styl bocznego menu */
aside {
   min-width: 250px;
   max-width: 200px; /* Ustalenie maksymalnej szerokości */
   margin-right: 10px;
   margin-left: 10px;
   display: flex;
   flex-direction: column; /* Wstawienie elementów w kolumnie */
}

/* Styl sekcji strony */
section.page {
   flex-grow: 1;
   display: flex;
   flex-direction: column; /* Ustawienie zawartości w kolumnie */
   padding: 20px; /* Odstępy wewnętrzne */
}

/* Styl responsywny dla urządzeń mobilnych */
@media (max-width: 768px) {
   main {
      flex-direction: column; /* Zmiana na kolumnę na mniejszych ekranach */
   }

   aside {
      min-width: 100%; /* Zmiana szerokości na 100% */
      max-width: 100%; /* Umożliwienie pełnej szerokości */
      margin-right: 0; /* Usunięcie marginesu */
      margin-bottom: 20px; /* Dodanie marginesu dolnego dla przestrzeni */
   }
}
