.article {
   border: 1px solid #e0e0e0;
   border-radius: 10px;
   padding: 20px;
   background-color: #fff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s, box-shadow 0.2s;
}

.article:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.article-image {
   width: 100%; /* Zdjęcie zajmuje całą szerokość kontenera */
   height: 200px; /* Stała wysokość zdjęcia */
   object-fit: cover; /* Dopasowanie zdjęcia bez deformacji */
   border-radius: 8px; /* Zaokrąglone rogi */
   margin-bottom: 15px; /* Odstęp od tekstu */
}

.article h3 {
   margin: 0 0 10px 0;
   font-size: 1.5em;
   color: #333;
}

.article span {
   color: #666;
   font-size: 0.9em;
   margin: 0 0 10px 0;
}

.article p {
   margin: 0 0 15px 0;
   color: #444;
   line-height: 1.5;
}
