.tydzien-btn {
   background-color: #6c757d;
   color: #fff;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
   font-size: 16px;
   transition: background-color 0.3s ease;
   width: 100%;
   margin-bottom: 5px;
}

.tydzien-btn:hover {
   background-color: #484e52;
}

.dzien-btn {
   background-color: #e2e6ea;
   color: #333;
   border: 1px solid #ccc;
   cursor: pointer;
   font-size: 16px;
   padding: 10px 15px;
   border-radius: 5px;
   transition: background-color 0.3s ease, box-shadow 0.3s ease;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   width: 100%;
   text-align: left;
   margin-bottom: 5px;
}

.dzien-btn:hover {
   background-color: #c4c5c5;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.dieta .dzien-btn:hover {
   background-color: #c4c5c5;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.posilek-btn {
   background-color: #f8f9fa;
   color: #333;
   border: 1px solid #ccc;
   cursor: pointer;
   font-size: 16px;
   padding: 10px 15px;
   border-radius: 5px;
   transition: background-color 0.3s ease, box-shadow 0.3s ease;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   width: calc(100% - 20px);
   text-align: left;
   margin-bottom: 5px;
   margin-left: 10px;
}

.posilek-btn:hover {
   background-color: #e2e6ea;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.posilek-details {
   width: calc(100% - 40px);
   margin-left: 20px;
   background-color: #f8f9fa;
   color: #333;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 15px;
   margin-bottom: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.posilek-grid {
   display: grid;
   grid-template-columns: 25% 75%;
   gap: 15px;
}

.posilek-skladniki {
   padding-right: 15px;
   border-right: 1px solid #ddd;
}

.posilek-skladniki p:first-of-type {
   font-weight: bold;
}

.posilek-skladniki li {
   font-size: 16px;
   margin-bottom: 5px;
}

.posilek-przygotowanie {
   padding-left: 15px;
}

.posilek-przygotowanie p:first-of-type {
   font-weight: bold;
}

.przygotowanie-text {
   font-size: 16px;
   line-height: 1.5;
   margin: 0;
}

@media (max-width: 768px) {
   .posilek-btn {
      width: 100%;
      margin-left: 0;
   }

   .posilek-grid {
      grid-template-columns: 1fr;
      gap: 10px;
   }

   .posilek-skladniki,
   .posilek-przygotowanie {
      padding: 10px 0;
      border: none;
   }

   .tydzien-btn {
      border-radius: 5px;
      width: 100%;
      margin-bottom: 5px;
   }

   .tydzien-list {
      width: 100%;
   }
}
