.home {
   padding: 20px;
   max-width: 1200px;
   margin: 0 auto;
}

.article-list {
   display: grid;
   grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 1fr)
   ); /* Responsywne kafelki */
   gap: 20px; /* Odstęp między artykułami */
}

.article-preview {
   border: 1px solid #e0e0e0;
   border-radius: 10px;
   padding: 20px;
   background-color: #fff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s, box-shadow 0.2s;
}

.article-preview:hover {
   transform: translateY(-5px); /* Lekkie podniesienie kafelka */
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Większy cień */
}

.article-preview h3 {
   margin: 0 0 10px 0;
   font-size: 1.5em;
   color: #333;
}

.article-preview .author {
   color: #666;
   font-size: 0.9em;
   margin: 0 0 10px 0;
}

.article-preview .article-image {
   width: 100%; /* Zdjęcie zajmuje całą szerokość kontenera */
   height: 200px; /* Stała wysokość zdjęcia */
   object-fit: cover; /* Dopasowanie zdjęcia bez deformacji */
   border-radius: 8px; /* Zaokrąglone rogi */
   margin-bottom: 15px; /* Odstęp od tekstu */
}

.article-preview .preview-text {
   margin: 0 0 15px 0;
   color: #444;
   line-height: 1.5;
}

.article-preview .read-more {
   display: inline-block;
   padding: 8px 16px;
   background-color: #939494;
   color: #fff;
   text-decoration: none;
   border-radius: 5px;
   font-weight: bold;
   transition: background-color 0.2s;
}

.article-preview .read-more:hover {
   background-color: #5c5c5c;
}
