.card {
   border-radius: 10px; /* Zaokrąglenie krawędzi kart */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cień dla kart */
   margin-bottom: 20px; /* Odstęp między kartami */
}

.card-title {
   font-size: 1.5rem; /* Powiększenie rozmiaru czcionki dla tytułu */
   margin-bottom: 0.5rem; /* Mniejszy odstęp poniżej tytułu */
}

.injury-description,
.injury-instructions {
   margin-bottom: 1rem; /* Odstęp poniżej opisu i instrukcji */
}

.exercise-category,
.exercise-subcategory {
   margin-top: 1rem; /* Odstęp powyżej kategorii ćwiczeń */
   margin-bottom: 0.5rem; /* Odstęp poniżej kategorii ćwiczeń */
}

.exercise-item,
.stretch-item,
.tip-item {
   margin-bottom: 0.5rem; /* Odstęp między elementami listy */
}

.injury-note {
   margin-top: 1rem; /* Odstęp powyżej uwag */
}

/* Media Queries dla responsywności */
@media (max-width: 768px) {
   .card-title {
      font-size: 1.2rem; /* Zmniejszenie tytułu na mniejszych ekranach */
   }

   .injury-description,
   .injury-instructions,
   .exercise-category,
   .exercise-subcategory,
   .exercise-item,
   .stretch-item,
   .tip-item,
   .injury-note {
      font-size: 0.4rem; /* Zmniejszenie rozmiaru tekstu dla wszystkich elementów */
   }
}
