/* MenuNawigacyjne.css */

/* Styl dla menu nawigacyjnego */
.menu-nawigacyjne {
   display: flex;
   flex-wrap: wrap;
   row-gap: 5px;
   column-gap: 5px;
   justify-content: center;
   list-style-type: none;
   padding: 0;
   overflow: hidden; /* Zapewnia, że elementy nie wyjdą poza kontener */
}

.menu-nawigacyjne li {
   flex: 1 1 120px;
   max-width: 120px;
   text-align: center;
}

.menu-nawigacyjne button {
   background-color: #6c757d; /* Kolor tła przycisków - szary */
   color: #fff; /* Kolor tekstu */
   border: none;
   width: 120px;
   padding: 10px 20px; /* Większy padding dla lepszego wyglądu */
   cursor: pointer;
   border-radius: 5px; /* Zaokrąglone rogi przycisków */
   font-size: 16px;
   transition: background-color 0.3s ease; /* Płynna zmiana koloru */
}

.menu-nawigacyjne button:hover {
   background-color: #484e52; /* Ciemniejszy szary po najechaniu */
}
