.menu-nawigacyjne {
   display: flex;
   flex-wrap: wrap;
   row-gap: 5px;
   column-gap: 5px;
   justify-content: center;
   list-style-type: none;
   padding: 0;
   overflow: hidden;
}

.menu-nawigacyjne li {
   flex: 1 1 120px;
   max-width: 120px;
   text-align: center;
}

.menu-nawigacyjne button {
   background-color: #6c757d;
   color: #fff;
   border: none;
   width: 100%;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
   font-size: 16px;
   transition: background-color 0.3s ease;
}

.menu-nawigacyjne button:hover {
   background-color: #484e52;
}

@media (max-width: 768px) {
   .menu-nawigacyjne li {
      flex: 1 1 120px;
      max-width: 100%;
      text-align: center;
   }
}
