/* MenuNawigacyjne.css */

/* Styl dla menu nawigacyjnego */
.menu-nawigacyjne {
   display: -webkit-inline-box; /* Ustawia elementy w poziomie */
   list-style-type: none;
   padding: 0;
   /* background-color: #f0f0f0;  */
   margin: 10px 0 20px 0; /* Odstęp od góry i od spodu */
   overflow: hidden; /* Zapewnia, że elementy nie wyjdą poza kontener */
}

.menu-nawigacyjne li {
   display: inline; /* Ustawia elementy listy w poziomie */
   margin-right: 15px; /* Odstęp między przyciskami */
}

.menu-nawigacyjne button {
   background-color: #6c757d; /* Kolor tła przycisków - szary */
   color: #fff; /* Kolor tekstu */
   border: none;
   padding: 10px 20px; /* Większy padding dla lepszego wyglądu */
   cursor: pointer;
   border-radius: 5px; /* Zaokrąglone rogi przycisków */
   font-size: 16px;
   transition: background-color 0.3s ease; /* Płynna zmiana koloru */
   margin-bottom: 15px;
}

.menu-nawigacyjne button:hover {
   background-color: #484e52; /* Ciemniejszy szary po najechaniu */
}
