.recipe-card-banan {
   border: 1px solid #ddd;
   border-radius: 8px;
   overflow: hidden;
   background-color: #fff;
   padding: 16px;
   margin: 16px auto;
   width: 90%;
   max-width: 1000px;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
}

.recipe-image {
   width: 100%;
   height: auto;
   max-height: 300px;
   object-fit: cover;
}

.recipe-title {
   font-size: 1.8em;
   margin: 16px 0;
}

.recipe-content {
   display: flex;
   gap: 16px;
}

.recipe-ingredients,
.recipe-preparation {
   flex: 1;
}

.recipe-ingredients {
   max-width: 30%;
   border-right: 1px solid #ddd;
   padding-right: 16px;
}

.recipe-preparation {
   max-width: 70%;
   padding-left: 16px;
}

.recipe-ingredients h3,
.recipe-preparation h3 {
   font-size: 1.2em;
}

.recipe-ingredients ul,
.recipe-preparation p {
   font-size: 0.9em;
   line-height: 1.5;
}

ul {
   list-style-type: disc;
   padding-left: 20px;
   margin: 0;
}

p {
   margin: 8px 0;
}
