.recipe-card {
   border: 1px solid #ddd;
   border-radius: 8px;
   overflow: hidden;
   background-color: #fff;
   padding: 16px;
   margin: 16px;
   max-width: 1000px; /* Ustaw max-width, aby karta była szeroka */
   display: flex;
   flex-direction: column;
}

.recipe-image {
   width: 100%;
   height: auto;
   max-height: 300px;
   object-fit: cover;
   border-radius: 5px;
}

.recipe-title {
   font-size: 1.8em;
   margin: 16px 0;
}

.recipe-content {
   display: flex;
   gap: 16px;
}

.recipe-ingredients,
.recipe-preparation {
   flex: 1; /* Pozwala na elastyczne szerokości kolumn */
}

.recipe-ingredients {
   max-width: 30%;
   border-right: 1px solid #ddd; /* Delikatna linia oddzielająca */
   padding-right: 16px;
}

.recipe-preparation {
   max-width: 70%;
   padding-left: 16px;
}

.recipe-ingredients h3,
.recipe-preparation h3 {
   font-size: 1.2em; /* Rozmiar czcionki nagłówków sekcji */
}

.recipe-ingredients p,
.recipe-preparation p {
   font-size: 0.9em; /* Delikatne zmniejszenie czcionki dla opisu */
   line-height: 1.5; /* Poprawia czytelność tekstu */
}

.recipe-ingredients ul {
   list-style-type: disc; /* Ustawienie punktów */
   padding-left: 20px; /* Wcięcie */
   font-size: 0.9em; /* Rozmiar czcionki */
   margin: 8px 0; /* Marginesy dla listy */
}

ul {
   /* list-style-type: none; */
   padding-left: 20px;
   font-size: 0.9em; /* Delikatne zmniejszenie czcionki dla listy składników */
}

p {
   margin: 8px 0;
}

/* Media Queries dla responsywności */
@media (max-width: 768px) {
   .recipe-card {
      margin: 8px; /* Zmniejszamy marginesy */
      padding: 12px; /* Zmniejszamy padding wewnętrzny */
   }

   .recipe-title {
      font-size: 1.2em; /* Zmniejszamy tytuł na mniejszych ekranach */
   }

   .recipe-content {
      flex-direction: column; /* Zamiast poziomego układu, pionowy na małych ekranach */
   }

   .recipe-ingredients,
   .recipe-preparation {
      max-width: 100%; /* Pełna szerokość na małych ekranach */
      padding: 0; /* Usunięcie dodatkowych paddingów */
   }

   .recipe-image {
      max-height: 200px; /* Zmniejszenie maksymalnej wysokości obrazu */
   }

   /* Nowe style dla mniejszych ekranów */
   .recipe-ingredients h3,
   .recipe-preparation h3 {
      font-size: 1em; /* Zmniejszamy czcionkę nagłówków sekcji */
   }

   .recipe-ingredients p,
   .recipe-preparation p {
      font-size: 0.8em; /* Zmniejszamy czcionkę dla opisu */
   }

   .recipe-ingredients ul,
   .recipe-preparation ul {
      font-size: 0.8em; /* Zmniejszamy czcionkę dla listy składników */
   }
}
