.stage-info {
   font-weight: bold;
   font-size: 0.9em;
}

.stage-bonus {
   font-size: 0.9em;
   font-style: italic;
}

.map-container {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 100%;
   margin: 0 auto;
   min-width: 300px;
   overflow: hidden;
}

.map-iframe {
   width: 100%;
   height: 680px;
   border: 0;
}

.route-buttons {
   margin-top: 1rem;
}

@media (max-width: 768px) {
   .map-container {
      max-width: 100%;
      overflow: hidden;
      margin: 0 auto;
      min-width: 200px;
   }

   .map-iframe {
      max-width: 100%;
      width: 100%;
      height: 480px;
      border: 0;
   }
}

@media (max-width: 480px) {
   .map-container {
      max-width: 100%;
      overflow: hidden;
      margin: 0 auto;
      min-width: 200px;
   }

   .map-iframe {
      max-width: 100%;
      width: 100%;
      height: 480px;
      border: 0;
   }
}
